* { padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.warp {
    max-width: 1024px;
    
}

.section {
    margin: 10px 0 50px 0;
    
}

header {
    background-color: pink;
    padding: 70px 0;
    text-align: center;
}

.top {
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}

.color { color:white;}

nav {
    background-color: rgb(255, 233, 136);
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: pink;
    
}

.right {
    float: right;
}

aside {
    width: 30%;
    float: left;
    padding: 20px;
    
}

article {
    width: 70%;
    float: right;
    padding: 20px 0;
    
}

.picture {
    margin: 10px 0;
    width: 100%;
    background-color: white;    
    border: dashed 1px pink;  
    padding: 10px;     

}

.picture img {
    width: 100%;   
    
}

footer {
    clear: both;
    text-align: center;
    background-color: pink;
    color:white; 
    padding: 40px 0 40px 0;   
}

h5 {margin-bottom: 15px;}


@media screen and (max-width:768px) {
    aside {width: 100%;}
    article {width: 100%;}    
}

@media screen and (max-width:550px) {
    nav a {
        float: none;
        text-align: center;
    }
    nav a.right {float: none;} 
    }



